/* pagination button section starts */


.pagination-section {
    /* background-color: blue; */
    padding-top: 30px;
    padding-bottom: 30px;
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .pagination-button-section {
    display: flex;
    flex-direction: row;
    border-top: solid 1px rgb(45, 45, 45);
    border-bottom: solid 1px rgb(45, 45, 45);
    /* background-color: green; */
    width: 30%;
    justify-content: space-between;
    gap: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
    align-items: center;
    text-align: center;
   
  
  }
  
  
  .pages-button-section {
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    gap: 7px;
    padding: 5px;
    
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .pageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: white;
    border: solid 2px transparent;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px black; */
  
  }
  
  .pageButton:hover {
    
    color: rgb(74, 74, 74);
  
  }
  
  .pageDirectionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: white;
    border: solid 1px var(--secondary-red);
    font-weight: bold;
    font-size: 17px;
    padding: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px black; */
  
  }
  
  .pageDirectionButton:hover {
    color: rgb(74, 74, 74);
  }
  
  
  .pageDirectionButton:disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;   
  }
  
  
  .pageButton.active {
    cursor:  default;
    color:var(--secondary-red);
    
  }
  
  