/* Sort button style starts */

.sort-section {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 15px;
}

.sort-button-container {
  position: relative;
  display: inline-block; 
  /* background-color: blue; */
}

.sort-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--secondary-red);
  border: solid 2px var(--secondary-red);
  box-shadow: 0px 0px 5px black;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 94px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sort-button-content {
  position: absolute;
  width: 90px;
  height: auto;
  top: 38px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: rgb(45, 45, 45);
  border: solid 2px rgb(45, 45, 45);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  visibility: hidden;
}

.sort-button-content.visible {
  visibility: visible;
}

.sort-option {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: var(--secondary-background);
}

.sort-option.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sort-option.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.sort-option:hover {
  /* color: rgb(74, 74, 74); */
  background-color: rgb(45, 45, 45);
}

/* Sort button style ends */


/* Start Media Cards Section */

.media-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 30px 50px;
    /* background-color: blue; */
  }
  
  .media-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    background-color: var(--secondary-background);
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .media-img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
  }
  
  .media-img > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .media-img:hover {
    filter: brightness(0.60);
  }
  
  .media-title-container {
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .media-title {
    color: white;
    font-size: 16px;
  }
  
  /*Media Cards style ends */
  
  
  /* Popup style starts */
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    /* rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 990;
  }
  
  .popup {
    position: fixed;
    background-color: var(--secondary-background);
    box-shadow: 0px 0px 10px black;
    width: 350px;
    max-height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
    border-radius: 20px;
    align-items: flex-start;
  }
  
  .inner-popup-div {
    display: flex;
    flex-direction: column;
    gap: 23px;
    overflow-y: auto;
  }
  
  .inner-popup-div::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
  }
  
  .inner-popup-div::-webkit-scrollbar-thumb {
    background: var(--primary-background);
    border-radius: 10px;
    border: 3px solid var(--secondary-background); 
  }
  
  .inner-popup-div::-webkit-scrollbar-track {
    background: var(--secondary-background);
  }

  .hidden {
    visibility: hidden;
  }
  
  .popup-img {
    display: flex;
    width: 160px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
  }
  
  .popup-img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .popup-media-title {
    font-size: 22px;
  }
  
  .media-date {
    font-weight: bold;
    font-size: 18px;
  }
  
  .media-date-content {
    font-weight: lighter;
    font-size: 15px;
  }
  
  .overview-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  
  }
  .overview-title {
    font-weight: bold;
    font-size: 18px;
  }
  
  .overview-description {
    font-weight: lighter;
    font-size: 16px;
    line-height: 21px;
  }
  
  .popup-button-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .popup-button-box > button {
    color: var(--secondary-background);
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    padding: 8px 9px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .popup-button-box > button:hover {
    background-color: lightgray;
  }
  
/* Popup style ends */


/* Responsive Screen style starts */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
@media (max-width: 1024px) {

.media-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 50px;
  }
  
  .media-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    background-color: var(--secondary-background);
    padding: 13px;
    gap: 15px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .media-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .media-title {
    color: white;
    font-size: 14px;
  }

  .sort-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 15px;
  }

  .sort-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--secondary-red);
    border: solid 2px var(--secondary-red);
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 84px;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;  
  }

  .sort-button-content {
      position: absolute;
      width: 80px;
      height: auto;
      top: 33px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      background-color: rgb(45, 45, 45);
      border: solid 2px rgb(45, 45, 45);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      visibility: hidden;
  }

  .sort-button-content.visible {
    visibility: visible;
  }

  .sort-option {
    color: white;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: var(--secondary-background);
  }

}


/* md */
@media (max-width: 768px) {

  .media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 15px;
    padding: 30px 30px;
  }
  
  .media-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    background-color: var(--secondary-background);
    padding: 15px;
    gap: 12px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .media-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .media-title {
    color: white;
    font-size: 13px;
  }

  .sort-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
  }

  .sort-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--secondary-red);
    border: solid 2px var(--secondary-red);
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 94px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px; 
  }

  .sort-button-content {
      position: absolute;
      width: 90px;
      height: auto;
      top: 38px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      background-color: rgb(45, 45, 45);
      border: solid 2px rgb(45, 45, 45);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      visibility: hidden;
  }

  .sort-button-content.visible {
    visibility: visible;
  }

  .sort-option {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: var(--secondary-background);
  }

}

/* sm */

@media (max-width: 640px) {

  .media-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
    padding: 30px 30px;
  }
  
  .media-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    background-color: var(--secondary-background);
    padding: 15px;
    gap: 12px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .media-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .media-title {
    color: white;
    font-size: 11px;
  }

  .sort-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
  }

  .sort-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--secondary-red);
    border: solid 2px var(--secondary-red);
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 84px;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;  
  }

  .sort-button-content {
    position: absolute;
    width: 80px;
    height: auto;
    top: 33px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgb(45, 45, 45);
    border: solid 2px rgb(45, 45, 45);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    visibility: hidden;
  }

  .sort-button-content.visible {
    visibility: visible;
  }

  .sort-option {
    color: white;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: var(--secondary-background);
  }

}

/* xs */
@media (max-width: 475px) {

  .media-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    padding: 30px 30px;
  }
  
  .media-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    background-color: var(--secondary-background);
    padding: 13px;
    gap: 10px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .media-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .media-title {
    color: white;
    font-size: 11px;
  }

  .sort-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
  }

  .sort-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--secondary-red);
    border: solid 2px var(--secondary-red);
    box-shadow: 0px 0px 5px black;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 74px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;  
  }

  .sort-button-content {
    position: absolute;
    width: 70px;
    height: auto;
    top: 28px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgb(45, 45, 45);
    border: solid 2px rgb(45, 45, 45);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    visibility: hidden;
  }

  .sort-button-content.visible {
    visibility: visible;
  }

  .sort-option {
    color: white;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: var(--secondary-background);
  }

}



@media (max-width: 370px) {

  .media-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 11px;
    padding: 30px 30px;
  }

  .media-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    background-color: var(--secondary-background);
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
  }
  
  .media-title {
    color: white;
    font-size: 16px;
  }

}

/* xxs */
@media (max-width: 270px) {}

/* Responsive Screen style ends */