
/* 
Watch Style Startes */


.inner-watch-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
    
  }

  .popupBackButton {
    font-size: 15px !important;
    cursor: pointer;
    color: white;
    /* sx={{fontSize: 15, cursor: "pointer"}} */ 
    /*this isnt doing anything*/
    
  }


  
  .providers-container {
    display: flex;
    flex-direction: column;
     /* background-color: blue; */
     padding: 0px 30px 10px 30px;
     gap: 20px;
  }
  
  .outer-providers-div {
    display: flex;
    /* background-color: green; */
   
  }
  .providers-div {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    /* background-color: pink; */
  }
  
  .provider-card {
    display: flex;
    /* background-color: red; */
    border-radius: 7px;
    padding: 0px;
    box-shadow: 0px 0px 10px black;
  }
  
  
  
  .provider_logo {
    width: 45px;
    height: 45px;
    border-radius: 7px;
    transform-origin: center;
    object-fit: contain; 
  }
  
  .providers-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* background-color: green; */
    gap: 10px;
  }
  
  .providers-title {
    font-weight: bold;
    font-size: 18px;
    
  }
  
  
  /* Watch style ends */
  