:root {
    --primary-background:#131720;
    --secondary-background: #151f30;
    --primary:white;
    --secondary-red: #c30404;
}



::-webkit-scrollbar {
  width: 15px;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-red);
  
  border-radius: 10px;
  border: 3px solid var(--secondary-background); 
}

::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

body {
    background-color: var(--primary-background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    gap: 0;
    color: white;
  }
  
  
  h1, p, span {
    gap: 0px;
    padding:0px;
    margin:0px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    gap: 0;
  }

