:root {
    --primary-background:#131720;
    --secondary-background: #151f30;
    --primary:white;
    --secondary-red: #c30404;
}


::-webkit-scrollbar {
  width: 15px;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-red);
  
  border-radius: 10px;
  border: 3px solid var(--secondary-background); 
}

::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

body {
    background-color: var(--primary-background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    gap: 0;
    color: white;
  }
  
  
  h1, p, span {
    gap: 0px;
    padding:0px;
    margin:0px;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    gap: 0;
  }




/* Spinner Loading Section Starts */

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.spinner-div {
  align-items: center;
  justify-content: center;
  display: flex;
}

.spin-animation-icon {
  width: 30px;
  height: 30px;
  border: 4px solid var(--secondary-red);
  border-top-color: rgb(45, 45, 45);
  border-radius: 50%;
  animation: spin 2.00s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Spinner Loading Section Ends */

/* xl */
/* @media (max-width: 1280px) {} */

/* Responsive Screen style Starts */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

/* xxs */
/* @media (max-width: 270px) {} */

/* Responsive Screen style ends */